[submodule "periscope-rs"]
	path = periscope-rs
	url = https://github.com/nfejzic/periscope-rs
[submodule "periscope-py"]
	path = periscope-py
	url = https://github.com/nfejzic/periscope-py
[submodule "selfie"]
	path = selfie
	url = https://github.com/cksystemsteaching/selfie
